body.indexback {background: url('seoulbackground.jpg') }

@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("AppleSDGothicNeoM.ttf") format("truetype");
    font-weight: normal;
  } /* 이후 "SDGothic"으로 폰트 적용 가능 */

* { font-family: SDGothic,serif;}


#korean {font-size: 55px;  font-weight:bolder; margin-left: 35px;
            margin-top: 260px; color: white; opacity: 0;
           }
#english {font-size: 65px; font-weight: bolder; margin-left: 35px;
            margin-top: 10px; color: white; opacity: 0;} 
#gotomap {font-size: 35px; font-weight: bolder; color: white;
            background-color: black; border-radius: 35px; width: 250px;
            text-align: center; height:65px ; line-height: 65px; margin-left: 35px; margin-top: 55px;
            opacity: 0; border: white 1.5px solid;}

#gotomap:hover {font-size: 35px; font-weight: bolder; color: white;
    background-color: black; border-radius: 35px; width: 250px;
    text-align: center; height:65px ; line-height: 65px; margin-left: 35px; margin-top: 55px;
    text-decoration: underline; border: white 1.5px solid;}

@keyframes appearing {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*index.html*/
body.mapback {background: url('pp.jpeg');}
div.out   {text-align: center;}
div.head  {font-size: 45px; font-weight: bolder; margin-top: 70px; color: green;}
iframe  {border-radius: 15px; border: black 7.5px solid; width: 1300px;
        margin: 25px auto;}

div.first {width: 1300px; height: 600px; margin: 0 auto; margin-top: 25px; display:flex; flex-direction: row;}
div.second{width: 760px; height: 450px; border: white 2px solid; margin-top: 80px; margin-left: 25px;}
div.third {width: 460px; height: 450px; margin-top: 25px; margin-left: 22px;
            }
        
th         {text-align: center; font-size: 32px; border-bottom: black 3px solid;}
table      {width: 440px; height: 500px; text-align: left; margin-left: 40px; font-size: 17px;
            font-weight: 410;}
.blue   {color: rgb(29, 85, 180);}
.green  {color: rgb(41, 142, 41);}

.back{color: black; font-size: larger; text-decoration: none;
    margin-left: 30px; font-weight: bold;}
.back:hover{color: black; font-size: larger; text-decoration: underline;}